[submodule "client"]
	path = client
	url = ../DocSpace-client.git
	branch = .
	update = merge
[submodule "build"]
	path = buildtools
	url = ../DocSpace-buildtools.git
	branch = .
	update = merge
[submodule "server"]
	path = server
	url = ../DocSpace-server.git
	branch = .
	update = merge
[submodule "DocumentServer"]
	path = DocumentServer
	url = https://github.com/ghforwjy/DocumentServer.git
[submodule "EasyDocs-prototype"]
	path = EasyDocs-prototype
	url = https://github.com/ghforwjy/EasyDocs-prototype.git
